body{

    font-family: "Roboto", sans-serif;
    margin: 0px;
    min-height: 100vh;

}


/*###############################################*/
/*#-=HEADER=-####################################*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 20px;
}

a {  
    text-decoration: none;
    font-size: 24px;
}

a, p{

    color: #E5E7EB;
    font-size: 18px;
    padding: 0px;
    margin: 0px;

}

h1{

    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;

}

button{

    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 18px;

    border-radius: 8px;
    border: 2px solid #3882f6;

    width: 130px;
    height: 35px;

}

img,.intro_image{

    width: 700px;
    height: 300px;
    padding: 0px;
    margin: 0px;

}

.header{

    background-color: #1f2937;

    display: flex;
    flex-direction: column;
    


}

.logo{

    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;

}

.logo_links{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.intro{

    display: flex;
    justify-content: space-around;   
    align-items: center; 
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;

    margin: 0px;
    
}

.intro_message_button{

    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    gap: 10px;

}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=TOP=-#######################################*/

.bordered_div{

    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 4px solid #3882f6;

}

#subtext{

    color: #6f6f6f;
    width: 200px;
    text-align: center;
    margin-top: 10px;

}

.cards_container{

    display: flex;
    justify-content: center;
    gap: 40px;

    margin-bottom: 130px;

}

.info_header{

    color: #1f2937;
    font-weight: 900;
    font-size: 36px;

    margin: 50px 0px 50px 0px;

}

.top{

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=MIDDLE=-####################################*/

.middle{

    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 150px 0px 100px 0px;

}

.signed_quote{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 790px;

}

#quote, #signature{

    color: #1f2937;

}

#quote{

    font-weight: 300;
    font-size: 36px;

}

#signature{

    font-weight: 700;
    font-size: 25px;
    align-self: flex-end;
    padding-right: 35px;
    
}