
/*###############################################*/
/*#-=PAGE WIDE=-#################################*/

body, ul{

    display: flex;

}

ul, a, p, h1{

    margin: 0px;
    padding: 0px;

}

body{

    font-family: "Roboto", sans-serif;
    margin: 0px;
    min-height: 100vh;


    flex-direction: column;
    justify-content: center;

    flex: 1 1 auto;

}

ul {

    list-style-type: none;
    gap: 20px;

}

a {  

    text-decoration: none;
    font-size: 24px;

}

a, p{

    color: #E5E7EB;
    font-size: 18px;

}

h1{

    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

}

button{

    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 20px;

    width: 130px;
    height: 40px;

    margin: 0px;

}

img,.intro_image{

    width: 700px;
    height: 300px;
    padding: 0px;
    margin: 0px;

}
/*###############################################*/
/*###############################################*/


/*###############################################*/
/*#-=HEADER=-####################################*/

.header, .logo_links, 
.intro, .intro_message_button{

    display: flex;

}

.logo_links, .intro{

    justify-content: space-around;
    align-items: center;

}

.header{

    background-color: #1f2937;

    flex-direction: column;

}

.logo{

    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;

}

.logo_links{

    padding-top: 20px;

}

.intro{

    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;

    margin: 0px;
    
}

.intro_message_button{

    width: 450px;

    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    gap: 10px;

}

.header_button{

    border-radius: 8px;
    border: 2px solid #3882f6;

}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=TOP=-#######################################*/

.bordered_div{

    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 4px solid #3882f6;

}

#subtext{

    color: #6f6f6f;
    width: 200px;
    text-align: center;
    margin-top: 10px;

}

.cards_container{

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 40px;

    margin-bottom: 130px;

}

.info_header{

    color: #1f2937;
    font-weight: 900;
    font-size: 36px;

    margin: 50px 0px 50px 0px;

}

.top{

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    flex: 1;

}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=MIDDLE=-####################################*/

.middle{

    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 150px 0px 100px 0px;

    flex: 1;

}

.signed_quote{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 790px;
    

}

#quote, #signature{

    color: #1f2937;

}

#quote{

    font-weight: 300;
    font-size: 36px;

}

#signature{

    font-weight: 700;
    font-size: 25px;
    align-self: flex-end;
    padding-right: 35px;
    
}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=BOTTOM=-####################################*/

.bottom{

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

}

.bottom_container{

    width: 1300px;
    height: 200px;

    background-color: #3882f6;
    margin: 100px 0px 100px 0px;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.action_call{

    color: #E5E7EB;
    font-size: 20px;

}

.call{

    color: #f9faf8;
    font-weight: 900;
    font-size: 32px;
}

.bottom_button{

    border-radius: 8px;
    border: 3px solid  #f9faf8;

}
/*###############################################*/
/*###############################################*/

/*###############################################*/
/*#-=FOOTER=-####################################*/

.footer{

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 auto;

    padding: 40px 0px 40px 0px;

    background-color: #1f2937;

}

.copyright{

    color: #E5E7EB;
    font-size: 20px;

}
